
.menu-item {
  text-align: left;
}

.sidebar-container {
  width: 100%;
  
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.search-infograph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.search-results-container {
  max-width: 100%;
}

.search-results-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-results {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.search-result {
  display: inline-flex;
  align-items: center;
  flex: 30%;
  border: 1px solid lightgray;
  padding: 1rem;
  min-height: 150px;
  max-height: 150px;
  max-width: 30%;
  margin: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.search-result:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 11px 13px 19px -5px rgba(173,173,173,1);
  -moz-box-shadow: 11px 13px 19px -5px rgba(173,173,173,1);
  box-shadow: 11px 13px 19px -5px rgba(173,173,173,1);
  background-color: #f2f2f2;
}

.coin-mkt-cap-rank {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: darkgray;
 
}

.search-result-info {
  display: flex;
  flex-direction: column;
}

.search-result-info-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-result-info-2  {
  display: flex;
  align-items: center;
}

.coins-page {
  padding: 1rem;
}

.coins-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.coins-list-item {
  margin: 1rem;
}

.coins-list-info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coins-list-info-text {
  font-size: 14px;
  text-transform: uppercase;
  color: #6c757d;
}

.coins-list-info-text > span {
  font-size: 16px;
  font-weight: 700;
}

.coin-info-container {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

.coin-info-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-info-stats {
  padding: 4rem;
}